<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auglio Mirror Core Task</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <canvas id="canvas" width="990" height="540"></canvas>

      <div id="result-container">
        <p id="total-brightness"></p>
        <p id="background-brightness"></p>
        <p id="total-contrast"></p>
      </div>
    </main>

    <script src="scripts/app.js"></script>
  </body>
</html>
